<div class="art-modal-image">
  {{#if imageDataUrl}}
    <img src="{{imageDataUrl}}" alt="{{art.title}}" />
  {{/if}}
</div>
<div class="artwork-details">
  {{#if art.title}}<p class="art-title">{{art.title}}</p>{{/if}}
  {{#if art.bookTitle}}<p class="book-title">{{art.bookTitle}}</p>{{/if}}
  {{#if art.medium}}<p class="art-medium">{{art.medium}}</p>{{/if}}
  {{#if art.description}}<div class="art-description">{{{art.description}}}</div>{{/if}}
</div>
{{#unless hideOverlay}}
<div class="loading-overlay {{if imageLoaded 'loaded'}}"}}>
  <div id="progress-circle"></div>
</div>
{{/unless}}
<a href="#" class="modal-navigation previous" {{action 'previousItem'}}>Previous</a>
<a href="#" class="modal-navigation next" {{action 'nextItem'}}>Next</a>
<a href="#" class="modal-navigation close" {{action 'closeModal'}}>Close Modal</a>
