<div id="left-nav">
  <div class="brand clear-fix">
    {{#link-to 'index'}}<img {{bind-attr src=logoURL}} alt="Eric Losh"/>{{/link-to}}
  </div>
  {{partial 'partials/main-navigation'}}
  <div class="footer clear-fix">
    <img {{bind-attr src=footerLogoURL}} />
    <p>Web by <a href="https://github.com/david-casagrande" target="_blank" title="David Casagrande">David Casagrande</a></p>
  </div>
</div>

<div id="app-window">
  <div class="margin">
    <div class="page clear-fix">
      {{outlet}}
    </div>
  </div>
</div>

<div id="modal" {{bind-attr class='modalOpen:show'}}>
  <div class="margin">
    {{outlet 'modal'}}
  </div>
</div>
